{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="store_category">
		<ul>
			<li><a href="#junk_food">Junk Food</a></li>Junk Food
			<li><a href="#fruit_vege">Fruits and Vegetables</a></li>
			<li><a href="#dairy_pro">Dairy Products</a></li>
		</ul>
	</div>
	<br>
	<br>
	<h4 id="junk_food">Junk Food</h4>
	<div class="row">
		{% for product in products1 %}
		
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				
				<h4 style="display: inline-block; float: right"><strong>{{product.price}}Rs</strong></h4>

			</div>
		</div>
		{% endfor %}
	</div>
	<br>
	<br>
	<br>
	<br>
	<h4 id="fruit_vege">Fruits and Vegetables</h4>
	<div class="row">
		{% for product in products2 %}
		
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				
				
				<h4 style="display: inline-block; float: right"><strong>{{product.price}}Rs</strong></h4>

			</div>
		</div>
		{% endfor %}
	</div>
	<br>
	<br>
	<br>
	<br>
	<h4 id="dairy_pro">Dairy Products</h4>
	<div class="row">
		{% for product in products3 %}
		
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				
				
				<h4 style="display: inline-block; float: right"><strong>{{product.price}}Rs</strong></h4>

			</div>
		</div>
		{% endfor %}
	</div>

{% endblock content %}
